.form {
  border-radius: 20px;
  box-sizing: border-box;
  min-height: 500px;
  padding: 20px;
  max-width: 500px;
  border: 0.2px solid var(--color-primary-variant);
  flex: 1;
}

.form-desc-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.form-desc-wrapper .wrapper-mark__down {
  margin: 0;
}

.form .inp-co .dates-editor label {
  position: static;
}

.form .inp-co .dates-editor:first-child {
  justify-content: space-between;
}

.form .inp-co .dates-editor label {
  flex-grow: 1;
}

.form .dates-editor {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
}

.form textarea {
  max-width: 100%;
  min-width: 100%;
}

.form .inp-gallery {
  width: 50%;
  display: block;
  margin: auto;
}

.form .inp-gallery label[for='gallery'] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row !important;
}

hr {
  margin-block: 20px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}
.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.submit {
  background-color: var(--color-primary);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

input {
  width: 100%;
}

.delete-btn {
  color: var(--error-color-light);
  border: 1px solid var(--error-color-light);
}

label[for='clientno'] {
  /* position: static; */
  display: block;
}
input[type='number'] {
  width: unset;
  margin-right: 10px;
}
input[type='radio'] {
  width: unset;
  height: unset;
}
input[type='radio'] + label {
  all: unset;
  color: var(--color-white);
  opacity: 0.7;
  font-size: 12px;
}

.radio-co {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.projects-section h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.DASHBOARD_PAGE label[for='clientno'] {
  width: fit-content;
}

.DASHBOARD_PAGE .clients-wrapper .clients-no {
  display: inline-block;
}

.DASHBOARD_PAGE hr {
  margin-block: 20px;
  border: 1px solid gray;
}

.DASHBOARD_PAGE .messages figcaption .title-wrapper {
  display: flex;
  justify-content: space-between;
}

.DASHBOARD_PAGE .messages figcaption .title-wrapper div {
  color: rgba(255, 255, 255, 0.7);
}

.DASHBOARD_PAGE figure {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  margin: 1rem 0;
  padding: 1rem;
}

.DASHBOARD_PAGE figure h3 {
  font-size: 24px;
  color: var(--color-primary);
}

.DASHBOARD_PAGE figcaption {
  flex: 1;
}

figure .email-icon,
figure .phone-icon {
  display: inline-block;
  cursor: pointer;
  margin-right: 9px;
}

.DASHBOARD_PAGE figure div.email,
.DASHBOARD_PAGE figure div.phone-no {
  font-size: 14px;
  font-weight: 200;
}

.DASHBOARD_PAGE figure p {
  font-size: 14px;
}

.DASHBOARD_PAGE .inp-file-co {
  position: relative;
  border-style: dotted;
  border-color: var(--color-primary-variant);
  height: 165px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.DASHBOARD_PAGE .inp-file-co img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.DASHBOARD_PAGE .form .gallery-view {
  display: flex;
  gap: 16px;
  margin: 12px 0;
  flex-wrap: wrap;
}

.DASHBOARD_PAGE .form .gallery-view .gallery-item {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 6px;
}

.DASHBOARD_PAGE .form .gallery-view .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.DASHBOARD_PAGE .inp-file-co .file-name {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: default;
  width: max-content;
}

.DASHBOARD_PAGE input[type='file'] {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.DASHBOARD_PAGE .messages-btn {
  display: block;
  width: fit-content;
  margin-top: 9px;
}

.DASHBOARD_PAGE input[type='file'] + label {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  background-color: transparent;
  flex-direction: column;
}

.DASHBOARD_PAGE .login-form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.DASHBOARD_PAGE .login-form button {
  margin-top: auto;
}

.DASHBOARD_PAGE .login-form .alert {
  color: #e57373;
  border: 1px solid;
  padding: 11px;
  font-size: 12px;
  margin: 12px 0;
  border-radius: 6px;
}

.DASHBOARD_PAGE .version-no {
  display: inline-block;
}

.DASHBOARD_PAGE hr.inner-separator {
  width: 74%;
  margin-inline: auto;
  border-style: dotted;
}

.DASHBOARD_PAGE .no-access-alert {
  color: var(--error-color-light);
  padding: 8px;
  border-radius: 6px;
  border: var(--error-color) 4px dotted;
  text-align: center;
}

.DASHBOARD_PAGE .no-access-alert .secondary-btn {
  margin: 12px auto 0 auto;
}

.DASHBOARD_PAGE input:disabled,
.DASHBOARD_PAGE textarea:disabled {
  color: var(--color-light);
}

@media screen and (max-width: 768px) {
  .DASHBOARD_PAGE .messages figcaption .title-wrapper {
    flex-direction: column;
  }
  .DASHBOARD_PAGE .messages figcaption .title-wrapper h3 {
    font-size: 22px;
  }
  .DASHBOARD_PAGE .messages figcaption .title-wrapper div {
    font-size: 14px;
  }
  .form-desc-wrapper .wrapper-mark__down {
    display: none;
  }
  .form-desc-wrapper {
    display: block;
  }
  .form-desc-wrapper .form {
    margin-left: auto;
    margin-right: auto;
  }
}
