.portfolio-co {
  display: flex;
  gap: 22px;
  justify-content: center;
  flex-wrap: wrap;
}
.portfolio-card-co {
  position: relative;
  background-color: var(--color-background-variant);
  padding: 20px;
  border-radius: 22px;
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.portfolio-card-co.starred {
  border: 2px solid #fdd017;
  cursor: url(/Assets/gold-common-star-svgrepo.svg), auto;
}

.portfolio-card-co.fouced {
  outline: 3px solid var(--color-primary);
  box-shadow: 0 0 15px var(--color-primary-variant);
  transform: scale(1.05);
  z-index: 1;
}

.portfolio-card-co .img-co {
  width: 100%;
  height: 202px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
.portfolio-card-co .img-co img {
  max-width: 270px;
  max-height: 202px;
  border-radius: 13px;
}
.portfolio-card-co .title {
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0px;
}

.portfolio-card-co hr {
  width: 100%;
  border: var(--color-primary) 1px solid;
  margin-block: 11px;
  border-radius: 35px;
}

.portfolio-card-co .title:first-child {
  margin-top: 12px;
}
.portfolio-card-co .btns-co {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin-top: auto;
}

.portfolio-card-co span.note {
  font-size: 12px;
}

.portfolio-card-co:hover {
  /* transform: scale(1.1); */
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 12%);
}

.react-flag,
.next-flag {
  position: absolute;
  top: -10px;
  left: -10px;
  height: 150px;
  width: 150px;
  overflow: hidden;
}

.react-flag::after,
.react-flag::before,
.next-flag::after,
.next-flag::before {
  display: block;
  position: absolute;
  content: '';
  border: 7px solid #467a9e;
  border-top-color: transparent;
  border-left-color: transparent;
}
.react-flag::after,
.next-flag::after {
  bottom: 31px;
  left: -2px;
}

.react-flag::before,
.next-flag::before {
  top: -2px;
  right: 31px;
}

.react-flag span,
.next-flag span {
  position: absolute;
  display: block;
  transform: rotate(-45deg);
  background: #4db5ff;
  top: 30px;
  padding: 4px 0px;
  text-align: center;
  width: 200px;
  right: 2px;
}

.next-flag span {
  background-color: black;
}

.next-flag::after,
.next-flag::before {
  border-color: #000;
}

.star-flag {
  position: absolute;
  width: 43px;
  top: -5%;
  right: -5%;
}

.star-flag img {
  width: 100%;
  height: 100%;
}

.star-msg {
  margin-bottom: 16px;
  font-size: 1.25rem;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--error-color);
  padding: 12px;
  border-radius: 6px;
}

.star-msg :has(ul, li) {
  all: revert;
}

@keyframes display {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
