.single-project-page {
  position: relative;
  overflow-x: hidden;
}
.single-project-page img {
  max-width: 100%;
  max-height: 350px;
  border-radius: 12px;
  display: block;
  margin: auto;
}

.single-project-page .dates .single-date-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.single-project-page .dates {
  padding-inline: 16px;
}

.single-project-page .desc {
  position: relative;
  margin-block-start: 23px;
  padding: 16px 0 0 0;
  border: 1px solid var(--color-primary);
  border-bottom: none;
  border-radius: 7px;
}

.single-project-page .edit-project-btn {
  color: var(--color-background-variant) !important;
  position: absolute;
  top: 3px;
  right: 3px;
  text-decoration: none !important;
  animation: edit-here 2s infinite ease-in-out;
}
.single-project-page .edit-project-btn:hover {
  animation: none;
  background-color: var(--color-primary);
}

.single-project-page .swiper-3d .swiper-slide-shadow {
  background: none;
}

@media screen and (max-width: 678px) {
  .single-project-page .edit-project-btn {
    position: static;
    margin: 12px 16px;
  }
  .single-project-page .dates .single-date-data {
    width: 100%;
  }
}

@keyframes edit-here {
  40% {
    background-color: transparent;
    color: var(--color-primary);
  }
  50% {
    background-color: var(--color-primary);
  }
  100% {
    background-color: var(--color-primary);
  }
}

.single-project-page .skills-co {
  text-align: start;
}

.single-project-page .back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

.single-project-page .actions {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.single-project-page h1,
.single-project-page h2,
.single-project-page h3,
.single-project-page h4,
.single-project-page h5,
.single-project-page h6 {
  margin-top: 1rem;
  color: var(--color-primary);
}
