.center-skeleton {
  margin: 0 auto;
  display: block;
}

.text-skeleton-1 {
  height: 16px;
  margin: 12px 0;
}
.text-skeleton-2 {
  height: 22px;
  margin: 12px 0;
}
.text-skeleton-3 {
  height: 32px;
  margin: 12px 0;
}

.paragraph-skeleton {
  width: 60% !important;
}

.desc-for-skeleton {
  margin-block: 23px;
  padding: 0 16px 10px;
  border: 1px solid var(--color-primary);
  border-radius: 7px;
}
