.contact-co {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 65px;
  margin-bottom: 150px;
}
.contact-co form {
  position: relative;
}
.contact-co .cards-side {
  display: grid;
  grid-template-rows: repeat(auto-fill, 150px);
  gap: 15px;
}
.contact-co .cards-side p.sub-text a {
  text-transform: none;
}
.contact-co .cards-side a {
  color: var(--color-primary);
}

@media screen and (max-width: 768px) {
  .contact-side {
    width: 100%;
  }
  input,
  textarea {
    max-width: 100%;
    min-width: 100%;
  }
  .contact-co .cards-side {
    width: 100%;
  }
}
